body {
  /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
  font-family: "Source Sans Pro", sans-serif;
  padding: 1em 3em;
  background-color: skyblue;
}

#tooltip {
  display: block;
  height: 50px;
}

#title{
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    text-align: center;
    font-size: 25px;
}
p{
  font-size: 30px;
  color: brown;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
path.state {
  stroke: brown;
  fill: navajowhite;
  border: solid;
}
.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  pointer-events: none;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10 px;
  color: black;
}
#hover-content{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 30px;
  color: brown;
}
.on{
    fill:purple;
}
.off{

  fill:red;
}