body {
  /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
  font-family: "Source Sans Pro", sans-serif;
  padding: 1em 3em;
  background-color: rgb(26, 29, 29);
  width: 100%;
  height: 100%;
}
html{
width: 100%;
height: 100%;

}
#tooltip {
  display: block;
  height: 50px;
}

#title{
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
    color: darkred;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    text-align: left;
    font-size: 25px;
    color: lightyellow;
}

p{
  font-size: 30px;
  color: brown;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
path.state {
  stroke: brown;
  fill: navajowhite;
  border: solid;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  pointer-events: none;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10 px;
  color: black;
}
.row{
  position: absolute;
  width: auto;
  height: auto;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14 px;
  color: black;

}
.on{
    fill:purple;
}
.off{
  fill:red;
}

#dashboard {
  display: grid;
  grid-template-columns: max-content max-content max-content ;
  grid-template-rows: max-content max-content;
  column-gap: 2em;
  row-gap: 2em;
 
}

#table {
  grid-column-start: 2;
  grid-row-end: 1 ;
  border: solid 1px;
  width: 500px;
  height: 551px;
  border-color: lightyellow;
  
}
#map{
  grid-column-start: 3;
  grid-row-end: 1;
  width: 600.5px;
  height: 550px;
  background-color: rgb(37, 25, 25);
}

#linechart{
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start:2 ;
  padding: 1em;
} 

#summary{
  
  grid-column-start:3 ;
  grid-row-start:2 ;
  padding-left: 4em;

}
.summary {
  display: inline-block;
  border-style:solid;
  width: 600px;
  height: 200px;
  padding: 1em;
  overflow-wrap: break-word;
  overflow: scroll;
  word-wrap: break-word;
  hyphens: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  color: lightyellow;
  font-weight: bold;
}

#logo{
  grid-column-start: 1;
  grid-row-end: 1 ;
  height: 500px;
  

}

#text{
 color: red;
 font-family: Verdana, Geneva, Tahoma, sans-serif ;
 padding: 3em;
 font-weight: bold;

}
.mapW{
  border-style: none;
  border-width: px;
  background-color: rgb(37, 25, 25);
}
/* Table styles */
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px solid black;
  border-color: lightyellow;
}

tbody {
  width: 100%;
  display: block;
  height: 70vh;
  overflow: auto;
  height: 500px;
  border-color: lightyellow;
  
}
tbody td{
  border-right: solid 0.2px;
  border-bottom: solid 0.2px;
  border-color: lightyellow;

}
thead{
  color: lightyellow;
  font-size: larger;
  border-color: lightyellow;
 
}

td {
  text-align: center;
  color: bisque;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 0.5em;
  cursor: pointer;
  font-weight: lighter;
  text-transform: capitalize;
  border-color: lightyellow;
}

#tableW{
  border-width: thick;
  border-color: cornsilk;
  border-color: lightyellow;

}
tr:hover {
  font-weight: 900;

}

.axis-x-axis{
  color:lightyellow;
  stroke-width: 4;
  font-size: 16px;

}

.axis-y-axis{
  color:rgb(241, 241, 215);
  stroke-width: 4;
  font-size: 16px;
  
}
.axis-label {
  font-size: 16px;
  fill: red;
  text-anchor: middle;
  font-weight: bold;
  padding: 2em;
}
.grid{
  color: lightslategray;

}
.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: red;
  stroke-width: 5px;
}
  
.hover-line {
  stroke: lightyellow;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}