
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header, footer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

header h1{
    font-size: 60px;
}

.init-header{
    background-image: url(/images/plane.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(235, 212, 203);
}

.block {
    height: 100vh;
    position: relative;
    overflow: hidden;
} 

.block h1{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
 

}
/*  viz 1*/
#viz-1 {
    
    background-color: rgb(59, 57, 57);  
    color:lightyellow;

} 

#linechart {

    position: absolute;
    font-size: 30px;
    height: 100px;
    width: 500px;
    left: 100px;
    top: 400px;
    color: black;

}
.logo-2k {
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0%;
}

.text-viz-1{
     position: absolute;
     font-size: 30px;
     height: 100px;
     width: 800px;
     left: 1250px;
     top: 400px;
     color: lightyellow;
}
/*  viz 2*/

#table {

    position: absolute;
    height: 100px;
    width: 1000px;
    top:200px;
    right: 100px;
    color: rgb(226, 155, 108);

}
#viz-2 {
    background-color: rgb(61, 48, 48);  
    color: lightyellow;
} 

.logo-aa {
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0%;
}

.text-viz-2{
    position: absolute;
    font-size: 30px;
    height: 100px;
    width: 800px;
    right: 1400px;
    bottom: 500px;
    color:lightyellow;
}

/*  viz 3*/

#bubble {
    height: 100px;
    position: absolute;
    top: 5%;
    left: 0%;
}


/*  viz 4*/

.logo-pic01 {
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0%;
}

#bar {
  
    position: absolute;
    top: 3%;
    left: 10%;
}

.label-bar {
    fill:white;
    text-anchor: start;
    font-weight: bolder;
  }
  
  .axis {
    font-size: 16px;
    font-weight: bolder;
 
  }

.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 rgb(26, 29, 29);
    border: 1px solid lightyellow;
    padding: 14px;
    pointer-events: none;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: lightyellow;
  }

  
.axis-x-axis{
    color:lightyellow;
    stroke-width: 4;
    font-size: 18px;
  
  }
  
  .axis-y-axis{
    color:rgb(241, 241, 215);
    stroke-width: 4;
    font-size: 18px;
    
  }
  .axis-label {
    font-size: 16px;
    fill: red;
    text-anchor: middle;
    font-weight: bold;
    padding: 2em;
  }
  .grid{
    color: lightslategray;
  
  }
  .overlay {
    fill: none;
    pointer-events: all;
  }
  
  .focus circle {
    fill: #F1F3F3;
    stroke: red;
    stroke-width: 5px;
  }
  .focus text {
    color: BLUE;
  }  
  .hover-line {
    stroke: lightyellow;
    stroke-width: 5px;
    stroke-dasharray: 3,3;
  }
  
  .focus{
    position: absolute;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 rgb(26, 29, 29);
    border: 1px solid lightyellow;
    padding: 14px;
    pointer-events: none;
    text-align: center;
    font-size: 18px;
    color: lightyellow;
  }